<html>
<head>
<meta http-equiv="refresh" content="0;url=https://{{ lab_domain }}/" />
<title>Redirect to Secure Connection</title>
</head>
<body>
Redirecting to secure connection. Click <a href="https://{{ lab_domain }}">here</a>.
</body>
</html>